.App {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}

.space-y-4 > * + * {
  margin-top: 1rem;
}

.space-y-8 > * + * {
  margin-top: 2rem;
}

.max-w-2xl {
  max-width: 42rem;
}

.big-image {
  width: 75vh;
  height: auto;
  margin-top: 10rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.prose {
  max-width: 65ch;
  line-height: 1.75;
}

.leading-relaxed {
  line-height: 1.625;
}
